.mainContainerDiv {
  position: relative;
  top: 50px;
  left: 250px;
  width: 70%;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  /* margin-top: 15px; */
  margin-bottom: 10px;
  background-color: #334756;
  color: #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgb(98, 96, 96);
}

.formDiv {
  width: 30%;
  margin-left: 10px;
  margin-right: 40px;
}

.inputDiv {
  margin-top: 5px;
  margin-bottom: 10px;
  /* box-shadow: 1px 1px 5px gray; */
}

.fetchedDataDiv {
  width: 60%;
  justify-content: space-evenly;
}

.titleDiv {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(218, 96, 96);

  /* width: 100%; */
}
.movieIddiv {
  text-align: center;
  min-width: 15%;
}
.movieNamediv {
  text-align: center;
  min-width: 45%;
}
.deleteBtndiv {
  text-align: center;
  min-width: 20%;
}
.updateBtndiv {
  text-align: center;
  min-width: 20%;
}
.itemRow {
  display: flex;
  border-bottom: 1px solid gray;
  padding-top: 2px;
  padding-bottom: 2px;
}
.updateImg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

.deleteImg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

.submitBtn {
  position: relative;
  left: 25%;
  opacity: 0.8;
  color: rgb(82, 9, 9);
  width: 50%;
  height: 30px;
  text-align: center;
  background-color: #16a596;
  cursor: pointer;
  font-size: 1.2rem;
}
.submitBtn:hover {
  opacity: 1;
  color: rgb(226, 226, 226);
  font-weight: bold;
}
.submitBtn:active {
  box-shadow: 1px 1px 2px gray;
}

.imageInMovieUpdate {
  position: relative;
  left: -100px;
  top: 20px;
  height: 200px;
  width: 200px;
}
