


      .background_ccolour{
        background-color: wheat;
        height: 300px;
        margin-top: 100px;
        border-radius: 15px;
      }

      .ccentered {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -70%);
      }

      .signinup{
        text-align:left;
        margin-top:100px;
     
      }
      .background_colour{
        background-color:wheat;;
        height: 350px;
        margin-top: 100px;
        border-radius: 15px;
        
      }