

     .headerfix {
        position: fixed;
        left: 0;
        top:  0;
        width: 100%;
        background-color: rgba(var(--bs-warning-rgb));
       
      }

      .homeheader{
        font-family: cursive;
      margin-left: 500px;
     
      }

      .tableflex{
        display: flex;
      }

      .image{
   
        margin-top:15x;
            height:40px;
            width: 40px;
          
           
          }

         .flex{
            display: flex;
            position: absolute;
          top: 8px;
          right: 16px;
          font-size: 18px;
            
              } 