

   .table1{
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 10px;
 border-style: solid;
 border-color: rgba(var(--bs-warning-rgb));
 display: flex;

   }

   .tablepadding{
    width: 400px;
       background-color:rgb(255, 255, 111) ;
      
      
    
        }

        .table2{
         margin-left: 10px;
         margin-bottom: 350px;
         background-color:rgb(255, 255, 111)     
      
   
       }

       .addbutton{

         margin-left: 160px;
      
        }

        .tablecolumn{
   
      
         margin: 20px;
        width: 150px;
       }