.header {
  height: 50px;
  width: 100%;
  background-color: rgba(var(--bs-warning-rgb));
}
.columndimen {
  width: 200px;
  align-items: center;
}

.centrealign {
  margin: 100px;
  height: 800px;

  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 140, 0, 0.856);
  text-align: center;
}
.image {
  margin-top: 15x;
  height: 40px;
  width: 40px;
}
.profile {
  margin-top: 20px;
  margin-left: 1200px;
}
.head {
  background-color: rgba(var(--bs-warning-rgb));
  width: 100%;
  height: 80px;
}

.font {
  font-family: fantasy;
  margin-top: 20px;
  text-decoration-color: black;
}

.verticle {
  float: left;
  margin-left: 10px;
  margin-top: 100px;
  -webkit-margin-bottom-collapse: separate;
}

.div {
  height: 30px;
  width: 100px;
  margin-top: 80px;
  margin-left: 200px;
}
.bg {
  background-image: url("https://www.shutterstock.com/search/stage+background");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  ruby-merge: inherit;
  width: 100%;
}
.divv {
  height: 20px;
  width: 150px;
  margin-left: 1280px;
  margin-top: 0px;
}
.headerfix1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(var(--bs-warning-rgb));
  text-align: center;
  height: 100px;
}
.headerfix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(var(--bs-warning-rgb));
  text-align: center;
}
.signinup {
  text-align: left;
  margin-top: 200px;
}

.h2 {
  column-width: 0px;
}
.background_colour {
  background-color: lightslategray;
  height: 400px;
}

.divvv {
  margin-top: 20px;
}

.background_ccolour {
  background-color: wheat;
  height: 300px;
}

.flex {
  display: flex;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.img3 {
  width: 100%;
  height: 0%;
  object-fit: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
}

.frontfont {
  color: white;
  font-size: 50px;
  font-family: serif;
}

.signinfront {
  position: absolute;
  top: 0%;
  left: 80%;
  transform: translate(-200%, 80%);
}
.ccentered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.table1 {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 10px;
  border-style: solid;
  border-color: rgba(var(--bs-warning-rgb));
}

.tablepadding {
  width: 400px;
  background-color: rgb(255, 255, 111);
}
.table2 {
  margin-left: 10px;
  margin-bottom: 350px;
  background-color: rgb(255, 255, 111);
}

.tablecolumn {
  margin: 20px;
  width: 150px;
}

.addbutton {
  margin-left: 160px;
}
