.tableColumn{
    margin: 20px;
    width: 200px;
}

.imagCSS{
    height: 200px;
    width: 200px;
    position: relative;
    cursor: pointer;
    
}
.imageHover:hover {
    height: 250px;
    width: inherit;
    border-radius: 5px;
  }

.showListContained{
    position: relative;
    width: fit-content;
    background-color: bisque;
    margin-top: 5px;
    
  }
  