.invoiceContainer{
    width: 40%;
    background-color: bisque;
    color: black;
    font-size: 1.5rem;
    margin-top: 80px;
}

.centerColumn{
    width: 30px;
}

.boldCall{
    font-weight: bold;
}