@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&family=WindSong:wght@500&display=swap");

.loginDiv {
  display: flex;
  background-color: #000000;
  justify-content: center;
}

.mainContainer {
  display: grid;
  /* background-color: aquamarine; */
  background-color: #ffffff;
  overflow: auto;
  width: 100%;
  /* height: 100%; */
  min-height: calc(100vh - 103px);
}
