.styledDiv {
  text-align: center;
  margin: 10px 2px 0px 0px;
  align-items: flex-start;
  height: 350px;
  width: 250px;
  padding: 10px;
  /* background-color: bisque; */
  color: #fff;
  cursor: pointer;
}

.movieName {
  text-align: center;
  height: 30px;
  margin-top: 5px;
  font: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

.image {
  /* position: relative; */
  /* top: 1px; */
  height: 300px;
  width: 230px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px gray;
}

.image:hover {
  cursor: pointer;
  opacity: 0.9;
}
