.trailer {
  margin-left: 210px;
}

.MainVideo {
  align-items: center;
  text-align: center;
  /* width: 1000; */
}

.info {
  text-align: center;
  position: relative;
  left: 175px;
  color: black;
  width: 1000px;
}

.ageLimit {
  text-align: center;
  position: relative;
  color: black;
}
.showListContainer {
  position: relative;
  left: 300px;
  width: fit-content;
  background-color: bisque;
}

.tableCol {
  margin: 20px;
  width: 200px;
}
