.carousel-header {
  display: inline-block;
  margin-top: 10px;
  height: 10px;
  padding-left: 65px;
  font-size: 1.1rem;
  color: rgba(103, 99, 99, 0.863);
  /* text-shadow: 1px 1px 10px rgb(160, 153, 153); */
}

.imageStyle {
  height: 305px;
  width: inherit;
  border-radius: 5px;
  /* box-shadow: 2px 2px 5px gray; */
}

.imageStyle:hover {
  height: 310px;
  width: inherit;
  border-radius: 5px;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
