.formContainer {
  text-align: center;
  position: fixed;
  top: 100px;
  left: 25%;
  background-color: rgb(87, 8, 8);
  width: 40%;
  height: 50%;
  box-shadow: 1px 2px 10px rgb(184, 162, 162);
  border-radius: 10px;
}

.submitBtn {
  margin: 20px 0 10px 20px;
  font-size: 1.2rem;
  color: rgb(238, 238, 238);
  background-color: #035397;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 2px rgb(139, 138, 135);
}

.submitBtn:hover {
  background-color: #eaf5f0; /* Green */
  color: rgb(75, 69, 69);
  box-shadow: 1px 1px 3px rgb(57, 58, 57);
}

.submitBtn:active {
  /* font-size: 1.1rem; */
  box-shadow: none;
}
