.formActions {
  margin-top: 20px;
  width: auto;
  justify-content: center;
  /* padding: 30px; */
}

.label {
  width: 25%;
  padding-right: 20px;
  color: rgb(147, 155, 61);
  text-align: right;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.span{
  width: 20%; 
  color:rgb(156, 32, 32);
  font-size: small;
  text-align: center;
  display: inline-block;
}

.inputDiv {
  width: 50%;
  display: inline-block;
}

.input{
  width: 100%;
  color: rgba(167, 73, 73, 0.657);
  padding: 2px 0px 2px 10px;
  border-radius: 5px;
  background-color: rgb(243, 241, 241);
  border: none;
  outline: none;
}

.input:focus{
  box-shadow: 2px 1px 5px rgb(197, 194, 194);
}


