.header {
  text-align: center;
  font-size: 2rem;
  color: #d65a31;
}

.signUp-Container {
  height: 490px;
  opacity: 0.8;
  background-color: #2c394b;
  position: relative;
  right: 150px;
  color: rgb(175, 169, 170);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 25%;
  /* padding-bottom: 5px; */
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.signUp-Container:hover {
  opacity: 1;
}

label {
  display: flex;
}
