.header {
  text-align: center;
  font-size: 2rem;
  color: #d65a31;
}
/* 
  .background {
    background-color: #CEE5D0;
    z-index: 1;
  }
   */
.signInContainer {
  position: relative;
  left: 150px;
  height: 490px;
  opacity: 0.8;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 25%;
  background-color: #2c394b;
  color: rgb(175, 169, 170);
  /* padding-bottom: 5px; */
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.signInContainer:hover {
  opacity: 1;
}
