.MyDiv {
  text-align: center;
}

.style {
  height: 417px;
  width: 278;
}
.border {
  border-width: 10px;
  border-color: black;
}

/* .movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
} */

.logoFont {
  font-weight: bold;
  font-family: "Unica One", cursive;
}
.logoFont:hover {
  text-shadow: 2px 2px 10px #B61919;
}

.navContainer {
  background-color: #261c2c;
  box-shadow: 1px 1px 5px #d32626;
  font-size: small;
  /* vertical-align: top; */
  height: 55px;
}

/* .searchContainer {
  margin-left: 40px;
  width: 250px;
} */

.searchBox {
  position : relative;
  right: 300px;
  background-color: #d3c7c9;
  font-size: small;
  height: 30px;
  width: 250px;

  border: none;
}

/* .searchBtn {
  margin-left: 10px;
  width: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2c394b;
  color: white;
  border-radius: 5px;
  border: none;
} */
.searchBtn:hover {
  background-color: #b61919;
}
.searchBtn:active {
  background-color: #32716d;
  color: rgb(228, 234, 235);
}

/* .mainContainer {
  background-color: #e1f4f3;
  overflow: auto;
  width: 100%;
  min-height: calc(100vh - 88px);
} */

.myLink {
  margin-right: 10px;
  font-size: 1rem;
}
.myLink:hover {
  background-color: #b61919;
}

.myDropdown:hover {
  background-color: #082032;
}

.dropDownContent {
  background-color: #b61919;
  border-radius: 1px;
  font-size: small;
}

.userName {
  font-family: "Unica One", cursive;
  font-size: 1.1rem;
}
.userName:hover {
  font-weight: bold;
}
