@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.mainFooterDiv {
  position: relative;
  opacity: 1;
  width: 100%;
  height: 101px;
  background-color: #261c2c;
  justify-content: center;
  text-align: center;
  box-shadow: 1px -1px 5px #d32626;
}
.footerWrapper {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}
.mainFooterDiv:hover {
  opacity: 1;
  /* display: inherit; */
}

.footerMesage {
  color: #ff8882;
  width: fit-content;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  cursor: default;
}
.footerMesage:hover {
  text-shadow: 1px 1px 15px red;
}

.footerTable {
  font-family: "Playfair Display", serif;
  /* font-weight: bold; */
  font-size: 0.9rem;
  vertical-align: bottom;
  margin: 1px 15px 5px;
  text-align: center;
  color: #a7bbc7;
  opacity: 0.7;
  cursor: default;
}
.footerTable:hover {
  text-shadow: 1px 1px 10px red;
}

.footerLogo {
  opacity: 0.7;
  margin-left: 200px;
  margin-right: 130px;
  height: 70px;
  width: 80px;
  border-radius: 50px;
}
