.itemName {
  width: 30%;
}
.itemImage {
  display: flex;
  width: 30%;
}
.itemPrice {
  width: 10%;
}
.itemQuantity {
  width: 20%;
}
.itemTotal {
  width: 10%;
}

.foodContainer {
  position: relative;
  left: 320px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;

  border: 1px solid rgb(37, 37, 114);
  border-radius: 10px;
  /* background-color: bisque; */
  text-align: center;
}

.foodItemHeader {
  display: flex;
  height: 40px;
  text-align: center;
  font-weight: bold;
  color: chocolate;
}

.foodItems {
  width: 30%;
  vertical-align: midasssad;
}

.foodImageDiv {
  margin-top: 5px;
  width: 30%;
}
.foodImage {
  width: 30%;
  height: 130px;
  width: 170px;
  border-radius: 7px;
  box-shadow: 1px 1px 3px gray;
}

.foodPrice {
  width: 10%;
}

.foodItemContainer {
  display: flex;
  vertical-align: middle;
  margin-top: 5px;
}

.itemTotal {
  width: 10%;
  height: 30px;
  margin-right: 10px;
}

.counterContainer {
  display: flex;
  /* background-color: yellow; */
  /* height: 50px;
  width: 100px; */
  height: 30px;
  width: 20%;
  justify-content: space-around;
}

.counterBox {
  /* width: 100px;
  height: 46px; */
  font-size: 1.3rem;
  border: 1px 1px 1px solid black;
}

.count {
  background-color: rgb(172, 161, 161);
  /* height: 50px;
  width: 50px; */
  font-size: 2rem;
}

.increment {
  cursor: pointer;
}
.increment:active {
  box-shadow: 1px 1px inset;
}

.decrement {
  cursor: pointer;
}
.decrement:active {
  box-shadow: 1px 1px inset;
}
