.imageCss {
  height: 300px;
  width: 300px;
}

.detailsCss {
  color: black;
  left: 0px;
}

.tableTheatreColumn {
  margin: 20px;
  width: 200px;
}

.theatreListContainer {
  position: relative;
  width: fit-content;
  background-color: rgb(247, 201, 201);
  margin-top: 5px;
  text-align: center;
}

.seatLabelFont {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
