.allTheatreContainer{
  
  justify-content: center;
  align-items: center;
 
}
.singleTheatreDiv{
  margin: 15px;
  background-color: rgb(11, 11, 99);
  color: white;
  cursor: pointer;
}

.singleTheatreDiv:active{
  opacity: 0.7;
}



